  <header class="bg-white shadow-md rounded-lg p-3">
    <nav>
      <div class="flex gap-2 flex-wrap">
        <a href="/" class="px-4 py-2 bg-blue-600 text-white rounded-lg font-semibold hover:bg-blue-700 transition-all transform hover:scale-105 shadow-lg">
           Home
        </a>

        <a href="/host/add-home" class="px-4 py-2 bg-blue-600 text-white rounded-lg font-semibold hover:bg-blue-700 transition-all transform hover:scale-105 shadow-lg">
          Add Home
        </a>
      </div>

    </nav>
  </header>